@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(135deg, #000000, #120438, #000036, #000000);
  background-size: 200% 200%;
  animation: GradientAnimation 3s ease infinite;
}

@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card [type="checkbox"] + label .back {
  opacity: 1;
}
.card [type="checkbox"]:checked + label .back {
  opacity: 0;
}
